#pageHeader {
    position: absolute;
    left: 1em; top: 0;
    width: 95%; height: 3em;
    border: 2px dashed blue;
    text-align: center; vertical-align: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px; font-weight: bold; color: darkblue; 
    background: lightslategray;
}

#inputBox {
    position: absolute;
    left:1em; top: 3em; 
    width: 25%; padding: .5em; 
    border: 3px dashed mediumblue;
    background: lightblue;
}

#canvas {
    position: absolute;
    left: 30%; top: 3em;
    border: 3px dashed mediumblue;
}